{% extends 'main/layout.html' %}
{% load static %}
{% load my_filters %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registrar_consulta.css' %}" />
<script src="{% static 'js/reporte_script.js' %}"></script>
{% endblock %}

{% block content %}
<br />
<br />
<div class="box container " style="height: 100%; margin-bottom:20px">
  <div>
    <div class="row ">
      <div class="col-md-auto ">
        <strong class="col-md-auto label">
          Fecha exámen
        </strong>
        <input id="med" type="text" name="date" value="{{consulta.formatted_fecha_consulta}}" disabled="false">
      </div>
      <div class="col-md-auto ">
        <strong class="label">
          Hora exámen
        </strong>
        <input id="med" type="text" name="date" value="{{consulta.formatted_hora_consulta}}" disabled="false">
      </div>
      <div class="col-md-auto ">
        <strong class="col-md-auto label">
          Médico encargado
        </strong>
        <input id="med" type="text" name="date" value="{{consulta.medUltrasonido}}" disabled="false">
      </div>
    </div>
  </div>
  <br />
  <h4 style="font-weight: bold;"> Datos paciente </h4>
  <hr>
  <form class="report-form">

    <div class="row">
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Primer nombre </strong>
        <input id="med" type="text" name="text"
          value="{%if paciente.nombreuno == None%}-{%else%}{{paciente.nombreuno}}{%endif%}" disabled="false">
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Segundo nombre </strong>
        <input id="med" type="text" name="text"
          value="{%if paciente.nombredos == None%}-{%else%}{{paciente.nombredos}}{%endif%}" disabled="false">
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Primer apellido </strong>
        <input id="med" type="text" name="text"
          value="{%if paciente.apellido_paterno == None%}-{%else%}{{paciente.apellido_paterno}}{%endif%}"
          disabled="false">
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Segundo apellido </strong>
        <input id="med" type="text" name="text"
          value="{%if paciente.apellido_materno == None%}-{%else%}{{paciente.apellido_materno}}{%endif%}"
          disabled="false">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Último periodo menstrual (LMP) </strong>
        <input id="med" type="text" name="text" value="{{clinicalhist.lmp}}" disabled="false">
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Cédula </strong>
        <input id="med" type="text" name="text" value="{{paciente.cedulapac}}" disabled="false">
      </div>
      <div class="col col-lg-3">
        <strong class="col-md-auto label"> Gestaciones </strong>
        <input id="med" type="text" name="text" value="{{paciente.numgestacion}}" style="width: 100px;"
          disabled="false">
      </div>
    </div>
    <!-- <div class="linea">
      <div class="row">
        <strong class="col-md-auto label"> Último periodo menstrual (LMP) </strong>
        <input id="med" type="text" name="text" value="{{clinicalhist.lmp}}" disabled="false">
      </div>
      <div class="col">
        <strong class="col-md-auto label"> Cédula </strong>
        <input id="med" type="text" name="text" value="{{paciente.cedulapac}}" disabled="false">
      </div>
      <div class="col">
        <strong class="col-md-auto label"> Gestaciones </strong>
        <input id="med" type="text" name="text" value="{{paciente.numgestacion}}" disabled="false">
      </div>
    </div> -->
    <br />
    <div class="row" style="
    display: flex;
    justify-content: space-between;
">
      <div style="
      width: fit-content;
      display: flex;
      flex-direction: row;
  ">
        <div class="col-md-auto">
          <strong class="col-md-auto label"> Ant. Quirúrgico </strong>
          <input id="med" type="text" name="text"
            value="{%if clinicalhist.antquirurgico == None%}No registra{%else%}{{clinicalhist.antquirurgico}}{%endif%}"
            disabled="false">
        </div>
        <div class="col-md-auto">
          <strong class="col-md-auto label"> Ant. Ginecológico </strong>
          <input id="med" type="text" name="text"
            value="{%if clinicalhist.antginecologico == None%}No registra{%else%}{{clinicalhist.antginecologico}}{%endif%}"
            disabled="false">
        </div>
      </div>
      <button class="btn submit-button" type="submit" style="width: 200px !important">Editar información</button>

    </div>
    <!-- <div class="row">
        <div class="col">
          <strong class="col-md-auto label"> Ant. Quirúrgico </strong>
          <input id="med" type="text" name="text" value="{{clinicalhist.antquirurgico}}" disabled="false">
        </div>
        <div class="col">
          <strong class="col-md-auto label"> Ant. Ginecológico </strong>
          <input id="med" type="text" name="text" value="{{clinicalhist.antginecologico}}" disabled="false">
        </div>
      <button class="btn submit-button" type="submit" style="width: 200px !important">Editar historia clínica</button>
    </div> -->
  </form>
  <br />
  <div class="row">
    <div class="col">
      <h4 style="font-weight: bold;"> Datos feto </h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="col-md-auto label"> Fecha estimada de parto (EDB) </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{reporte.edb}}" disabled="false">
    </div>
    <div class="col">
      <strong class="col-md-auto label"> Peso fetal estimado (EFW) </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{reporte.efw}} gr" disabled="false">
    </div>
    <div class="col">
      <strong class="col-md-auto label"> Edad gestacional (GA) </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{reporte.ga}} semanas" disabled="false">
    </div>
  </div>
  <br />
  <div>
    <div class="col" id="description" name="description">
    {% comment %} <textarea id="description" name="description" rows="8" cols="30" style="width: 100%"> {% endcomment %}
      <p class="title"> Valores normales </p>
      <span style="display: inline-block; font-size: 16px;"> El feto presenta valores normales en </span>

      <h5 class="diagnosis">{{diagnostico.count}} de {{diagnostico.num_fields}} </h5> 

      <span style="display: inline-block; font-size: 15px;"> valores medidos. </span>
    
      </br></br>

      {% for item in diagnostico.normales %}
        <p class="diagnosis"> {{ item|get_med_name }} </p> 
        <span style="display: inline-block; font-size: 15px;">- presenta un valor de  {{reporte|get_field_value:item }}, 
          que se encuentra dentro del rango {{reporte|get_ref_values:item}} </span> </br>
      {%endfor%}

      </br>

      <p class="title"> Anormalidades </p>
      {% for item in diagnostico.anormales %}
        <p class="diagnosis"> {{ item|get_med_name }} </p> 
        <span style="display: inline-block; font-size: 15px;">- El feto presenta un valor de {{reporte|get_field_value:item }}, 
          lo que indica un XXXX ya que que se encuentra fuera del rango normal establecido para su edad gestacional de
          {{reporte|get_ref_values:item}} </span> </br>
      {%endfor%} 
      
      </br>

      <p class="title"> Conclusiones </p>

     

      {% comment %} </textarea> {% endcomment %}
    </div>
  </div>
  <div class="grid">
    <div class="col-12" style="margin-top: 10px; margin-bottom: 10px">
      <button class="btn submit-button" type="submit"
        style="width: 200px !important; background-color: #0796D8; float: left;">Descargar reporte</button>
        <a href="{% url 'reporte_pdf'%}"> Descargar pdf </a>
      <button class="btn submit-button" type="submit" style="width: 200px !important; float: right;">Editar
        reporte</button>
    </div>
    <div class="col-12" style="display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 10px; margin-bottom: 10px">
      <button class="btn submit-button" type="submit" style="width: 200px !important; background-color: #63AC3D;">Ver
        análisis completo</button>
    </div>
  </div>
</div>


{% endblock %}