{% extends 'main/layout.html' %}
{% load static %}
{% load my_filters %}
{% load custom_tags %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registrar_consulta.css' %}" />
<script src="{% static 'js/reporte_script.js' %}"></script>
{% endblock %}

{% block content %}
<br />
<br />
<div class="box container " style="height: 100%; margin-bottom:20px">
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div> 
    {% endfor %}
{% endif %}
  <div>
    <div class="row ">
      <div class="col-md-auto ">
        <strong class="col-md-auto label">
          Fecha exámen
        </strong>
        <input id="med" type="text" name="date" value="{{consulta.formatted_fecha_consulta}}" disabled="false">
      </div>
      <div class="col-md-auto ">
        <strong class="label">
          Hora exámen
        </strong>
        <input id="med" type="text" name="date" value="{{consulta.formatted_hora_consulta}}" disabled="false">
      </div>
      <div class="col-md-auto ">
        <strong class="col-md-auto label">
          Médico 
        </strong>
        {% get_medico_name consulta.medConsulta_id as medico_name %}
        {% get_medico_id consulta.medConsulta_id as medico_id %}
        <input id="med" type="text" name="date" value="{{medico_name}}" disabled="false">
      </div>
      <div class="col-md-auto ">
        <strong class="col-md-auto label">
          Ultrasonido hecho por
        </strong>
        <input id="med" type="text" name="date" value="{{consulta.medUltrasonido}}" disabled="false">
      </div>
    </div>
  </div>
  <br />   <br />
  <h4 style="font-weight: bold;"> Datos paciente </h4>
  <hr>
  <form class="report-form" id="report-form" method="POST" action="{% url 'editPacientData' consulta.consultaid %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Primer nombre </strong>
        <input id="name-uno" type="text" name="name-uno"
          value="{%if paciente.nombreuno == None%}-{%else%}{{paciente.nombreuno}}{%endif%}" disabled>
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Segundo nombre </strong>
        <input id="name-dos" type="text" name="name-dos"
          value="{%if paciente.nombredos == None%}-{%else%}{{paciente.nombredos}}{%endif%}" disabled>
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Primer apellido </strong>
        <input id="last-uno" type="text" name="last-uno"
          value="{%if paciente.apellido_paterno == None%}-{%else%}{{paciente.apellido_paterno}}{%endif%}"
          disabled>
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Segundo apellido </strong>
        <input id="last-dos" type="text" name="last-dos"
          value="{%if paciente.apellido_materno == None%}-{%else%}{{paciente.apellido_materno}}{%endif%}"
          disabled>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Último periodo menstrual (LMP) </strong>
        <input id="lmp" type="text" name="lmp" value="{{paciente.lmp}}" disabled>
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Cédula </strong>
        <input id="cedula" type="text" name="cedula" value="{{paciente.cedulapac}}" disabled>
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Gestaciones </strong>
        <input id="gest" type="text" name="gest" value="{{paciente.numgestacion}}" style="width: 100px;"
          disabled>
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Embarazo # </strong>
        <input id="emb" type="text" name="emb" value="{%if consulta.idembarazo_id > 0 %} {{consulta.idembarazo_id|get_numero_embarazo}} {%else%} 1 {%endif%}" style="width: 100px;"
          disabled>
      </div>
    </div>

    <br />
      <div style=" width: fit-content; display: flex; flex-direction: row;">
        <div class="col-md-auto">
          <strong class="col-md-auto label"> Motivo consulta </strong>
          <input id="motivo" type="text" name="motivo" style="width: 500px"
            value="{%if consulta.motivo_consulta == None%}No registra{%else%}{{consulta.motivo_consulta}}{%endif%}" disabled>
        </div>
      </div>

      <div>
        {% comment %} <input type="hidden" name="id_consulta" value="{{ consulta.consultaid }}"> {% endcomment %}
        <button class="btn round-button" type="button" id="cancelInfo" style="display: None;" onclick="onCancelInfo()"> <i class="fa-solid fa-xmark"></i></button>
        {% if medico_id == current_user.userid %} <button class="btn report-button" id="editButton" type="button" style="width: 200px !important" onclick="enableFields()">Editar información</button> {%endif%}
        <button class="btn report-button" id="sendButton" type="submit" style="width: 200px !important; display: none;" onclick="saveFields()">Guardar información</button>
      </div>
      

  </form>
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col">
      <h4 style="font-weight: bold;"> Datos feto </h4>
      <hr>
    </div>
  </div>

  <form class="report-form" id="full-report-form" method="POST" action="{% url 'editReportData' consulta.consultaid %}">
    {% csrf_token %}

    <div class="row">
      <div class="col">
        <strong class="col-md-auto label"> Fecha estimada de parto (EDB) </strong>
      </div>
      <div class="col">
        <input id="med" type="text" name="edb" value="{{reporte.edb}}" disabled>
      </div>
      <div class="col">
        <strong class="col-md-auto label"> Peso fetal estimado (EFW) </strong>
      </div>
      <div class="col">
        <input id="med" type="text" name="efw" value="{{reporte.efw}} gr" disabled>
      </div>
      <div class="col">
        <strong class="col-md-auto label"> Edad gestacional (GA) </strong>
      </div>
      <div class="col">
        <input id="med" type="text" name="ga" value="{{reporte.ga}} semanas" disabled>
      </div>
    </div>
    <br />
    <div>
      <div class="col" id="description" name="description">
      {% comment %} <textarea id="description" name="description" rows="8" cols="30" style="width: 100%"> {% endcomment %}
        <p class="title"> Valores normales </p>
        <span style="display: inline-block; font-size: 16px;"> El feto presenta valores normales en </span>

        <h5 class="diagnosis">{{diagnostico.count}} de {{diagnostico.num_fields}} </h5> 

        <span style="display: inline-block; font-size: 16px;"> valores medidos. </span>
      
        </br></br>
        {% if diagnostico.normales|length == 0 %}
          <span style="display: inline-block; font-size: 16px;">El feto no presenta valores normales para su edad gestacional.
          </span> </br>
        {% else %}
          {% for item in diagnostico.normales %}
            <p class="diagnosis"> {{ item|get_med_name }} </p> 
            <span style="display: inline-block; font-size: 16px;">:  {{reporte|get_field_value:item }}, 
              se encuentra en el rango {{reporte|get_ref_values:item}} </span> </br>
          {%endfor%}
        {%endif%}

        </br>

        <p class="title"> Anormalidades </p>
        {% if diagnostico.anormales|length == 0 %}
          <span style="display: inline-block; font-size: 16px;">El feto no presenta anormalidades.
          </span> </br>
        {% else %}
          {% for item in diagnostico.anormales %}
            <p class="diagnosis"> {{ item|get_med_name }} </p> 
            <span style="display: inline-block; font-size: 16px;">: {{reporte|get_field_value:item }}, 
              se encuentra fuera del rango {{reporte|get_ref_values:item}} indicando {{reporte|get_diagnosis:item }}
            </span> </br>
          {%endfor%} 
        {%endif%}
        
        </br>

        <p class="title"> Resumen </p>
        {% if diagnostico.anormales|length == 0 %}
          <span style="display: inline-block; font-size: 16px;">El feto está dentro de los rangos normales para su edad gestacional.
          </span> </br>
        {%endif%}
        {% if diagnostico.anormales %}
        
          {% for item in diagnostico.anormales %}
            {% comment %} <span style="display: inline-block; font-size: 16px;">Presenta {{reporte|get_diagnosis:item }} {% endcomment %}
            {% comment %} </span> </br> {% endcomment %}
            {% if forloop.first %}
              <span style="display: inline-block; font-size: 16px;">Posible {{ reporte|get_diagnosis_conclude:item }}</span>
            {% else %}
              <span>, {{ reporte|get_diagnosis_conclude:item }}</span>
            {% endif %}
          {%endfor%}
        {%endif%}

      </br>
    </br>
      <div id="observaciones">
          <p class="title"> Observaciones del médico </p>
          <textarea id="obs" name="obs" class="custom-area" rows="4" cols="40" disabled>{% if consulta.txtresults != None %} {{consulta.txtresults}} {%else%} {%endif%}</textarea>
        </div>
      </div>
    </div>
  <div class="grid">
    <div class="col-12" style="margin-top: 10px; margin-bottom: 10px">
        <button class="btn round-button" type="button" id="cancelReport" style="display: None;" onclick="onCancelReport()"> <i class="fa-solid fa-xmark"></i></button>
        {% if medico_id == current_user.userid %} <button class="btn report-button" type="button" id="editReport" onclick="enableReportFields()">Agregar observaciones</button> {%endif%}
        <button class="btn report-button" type="submit" id="saveReport" style="display: None" onclick="saveReport()">Guardar reporte</button>
    </form>
        <form method="GET" action="{% url 'reporte_pdf' consulta.consultaid %}">
          <button class="btn download-button" type="submit" id="download_button"
          style="width: 200px !important; float: left; margin-bottom: 20px">Descargar reporte</button>
        </form>
    </div>
    <div class="col-12" style="display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 10px; margin-bottom: 10px">
      <a class="btn analisis-button" href="/reporte/graficos/{{ consulta.consultaid }}" type="submit" id="full_analysis"
       role="button">Ver análisis completo</a>

    </div>
  </div>
</div>

{% endblock %}