{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_fonts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload_file.css' %}"/>

    <script src="https://kit.fontawesome.com/5bdb3c603b.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/upload_file.js' %}"></script>

{% endblock %}

{% block content %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div> 
    {% endfor %}
{% endif %}
<div style="    text-align: center;
padding: 50px;">
</br>
    <h1 style="font-weight: bold; color: #0796D8">Nueva consulta</h1>
    <h5 style="font-weight: bold; color: #26283E">Diagnóstico inmediato de anomalías del SNC</h5>
    </br>
    <div style="display: flex; justify-content: space-around;
    align-items: center;">
    <div class="bg-light p-5 text-center" style="border-radius: 15px; width: 60%">

    <p style="font-weight: lighter; color: #909090; margin-bottom: 0px">Su archivo se procesará para generar el reporte de diagnóstico.</p>
    
    </p>

    <form method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} <input type="file" name="file" id="file" /> {% endcomment %}
        <div class="drop_box">
            <header>
                <h4>Por favor, cargue el archivo extraído del ultrasonido.</h4>
                <p style="font-weight: lighter; color: #909090; margin-top:0px">Asegúrese de que el archivo no haya sido manipulado previamente.
            </header>
            <p>Archivos soportados:TEXT</p>
            <input type="file" accept="text/plain" name="file" id="file">
        </div>
        <br>
        <br>
        <button class="btn submit-button" type="submit">Procesar</button>
    </form>

  </div>
</div>
</div>
{% endblock %}
