{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_fonts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/paciente_existe.css' %}"/>

    <script src="https://kit.fontawesome.com/5bdb3c603b.js" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'js/upload_file.js' %}"></script> {% endcomment %}

{% endblock %}

{% block content %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div> 
    {% endfor %}
{% endif %}
<div style="text-align: center; padding: 50px;">
    </br>
    <h1 style="font-weight: bold; color: #0796D8">Historial de paciente</h1>
    </br>
    <div class="mid-container">
        <div class="left-div">
            <p style="color: #26283E;">Paciente {{paciente.nombreuno}} {{paciente.apellido_paterno}}</p>
            <p style="color: #26283E;"> Cédula {{paciente.cedulapac}}</p>
        </div>
        {% comment %} <form method="POST", enctype="multipart/form-data">
        {% csrf_token %} {% endcomment %}
        <div class="right-div">
            <div class="tooltip-container">
                <input type="radio" name="option" id="option_new" class="radio-input" value="0">
                <label for="option_new" class="radio-label">
                    <i class="fa-solid fa-circle-plus"></i> 
                </label>
              <span class="tooltip">Iniciar un nuevo embarazo</span>
            </div>
        </div>
    </div>
    </br>
    <div class="col cont-leyend">
        <div class="leyend" style="background-color: rgba(133, 223, 89, 0.5); margin-left: 5px; flex: 0 0 auto; "></div> <p style="margin-bottom: 0">Embarazo finalizado</p>
        <div class="leyend" style="background-color: white; margin-left: 5px; flex: 0 0 auto; "></div> <p style="margin-bottom: 0">Embarazo actual</p>
    </div>  

    <div class="text-center"style="display: flex; justify-content: space-around; align-items: center;">
        
        <div class="reports-container">
            {% for emb in embarazos%}
                <div class="card {% if forloop.last  %} actual {%else%} finalizado {%endif%}" > 
                    <table>
                        <colgroup>
                            <col span="3">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="3" style="text-align: left"><p style="color: #909090;">Embarazo {{ emb }} </p></th>
                            <th style="text-align: right">
                                <div class="tooltip-container">
                                    <i class="fa-solid fa-eye tab-icon" data-tooltip="Ver resumen de embarazo." onclick="openPopup()"></i>
                                    <span class="tooltip">Ver resumen de embarazo.</span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                          <td><i class="fa-solid fa-list" style="color: #909090;" onclick="goToReportPopup()"></i></td>
                          <td><p style="color: #909090;">{{consulta.fecha_consulta}}</p></td>
                          <td><p style="color: #909090;">{{consulta.idreporte_id}}</p></td>
                          <td><p style="color: #909090;">Column 4</td>
                        </tr>
                    </table>
                    {% if forloop.last %}
                    <div class="bottom-corner">
                        <div class="tooltip-container">
                            <input type="radio" name="option" id="option{{ emb }}" class="radio-input" value="{{ emb }}">
                            <label for="option{{ emb }}" class="radio-label">
                                <i class="fa-sharp fa-solid fa-circle-check tab-icon" style="font-size: xx-large !important;" data-tooltip="Agregar un reporte a embarazo actual"></i>
                            </label>
                            <span class="tooltip">Agregar un reporte a embarazo actual </span>
                        </div>
                    </div>
                    {%endif%}
                </div>
            {%endfor%}
            </div>
    </div>
        <div style="display:flex; justify-content: flex-end">
            <button id="submitBtn" class="btn submit-button" style="background: #63AC3D; width: 200px;" onclick="window.location.href='{%url 'registros'%}'">Volver a registros</button>
        </div>
            {% comment %} </form> {% endcomment %}
</div>

<script>
    const radioButtons = document.querySelectorAll('.radio-input');
    const submitBtn = document.getElementById('submitBtn');
    
    // Add event listener to radio buttons
    radioButtons.forEach((radioButton) => {
      radioButton.addEventListener('change', () => {
        submitBtn.disabled = false; // Enable the button when a radio button is selected
      });
    });

    function openPopup() {
        var a = console.log({{paciente.idpac}})
        window.open("{% url 'resumen_embarazo' paciente.idpac %}", "Popup Window", "width=500,height=600");

      }

    function goToReportPopup(){
        window.open("{% url 'registroinfo' consulta.consultaid %}", "Popup Window", "width=500,height=600");
    }
</script>
{% endblock %}
