{% extends 'main/layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

<script src="{% static 'js/reporte_script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container rounded mt-5 mb-5" >
    <div class="row">
        <div class="col border-right"  style="display: flex;
        justify-content: space-around;">
            <div class="col-6 p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="text-right" style="color: #26283E; font-family: 'League Spartan', sans-serif;">Complete su registro</h2>
                </div>  
                <h5 class="subtitle-text" >Debe completar su registro para tener acceso a las funcionalidades del aplicativo.</h5>
                 <form class="report-form" method="POST">
                {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels" for="{{ form.subject.id_for_label }}">{{ form.nombresmed.label }}</label>
                            {{form.nombresmed}}
                        <div class="col-md-12"><label class="labels" for="{{ form.subject.id_for_label }}"> {{form.apellidosmed.label}}</label>
                            {{form.apellidosmed}}
                        <div class="col-md-12"><label class="labels" for="{{ form.subject.id_for_label }}"> {{form.cedulamed.label}}</label>
                            {{form.cedulamed}}
                        <div class="col-md-12"><label class="labels" for="{{ form.subject.id_for_label }}"> {{form.telefonomed.label}}</label>
                            {{form.telefonomed}}
                        <div class="col-md-12"><label class="labels" for="{{ form.subject.id_for_label }}"> {{form.direccionmed.label}}</label>
                            {{form.direccionmed}}
                        <div class="col-md-12"><label class="labels" for="{{ form.subject.id_for_label }}"> {{form.hospitalid.label}}</label>
                            {{form.hospitalid}}
                    </div>
                </br>
                    <div class="mt-5 text-center" style="display: flex;
                    justify-content: space-around;">
                    <button class="btn btn-primary profile-button" type="submit" style="font-size: medium;">Completar registro</button></div>
                </form>
             
                  
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
