{% load static %}
<div>
    <div class="header bg-white" id="header">
        <div class="header_toggle">
            <i class="bx bx-menu" id="header-toggle"></i>
        </div>
        <div>

            <ul class="nav nav-pills" style=" gap: 20px;">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-outline-primary" role="button">Logout</a>
                {% endif %}
                <li class="nav-item" style=" display: flex; align-items: center;">
                    <div>
                        <div class="text-black-50   ">
                            {{user}}
                        </div>
                        <div class="text-black-50 ">
                            Medico
                        </div>
                    </div>
                    <div class="header_img">
                        <img src="{% static 'images/avatar.jpg' %}" alt="" />
                    </div>
                </li>
            </ul>
        </div>
        <!-- {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'logout' %}">
            Log out <i class="fas fa-sign-out-alt"></i>
        </a>
        {% endif %}
        <div class="text-black-50 float-end" style=" position: fixed; top: 10px; right: 80px;">{{user}}</div>
        <div class="text-black-50 float-end" style=" position: fixed; top: 30px; right: 80px;">Medico</div>
        <div class="header_img">
            <img src="{% static 'images/avatar.jpg' %}" alt=""/>
        </div> -->
    </div>

</div>