/* #navbarNav{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* Imagenes */

.logo{
    height: 100px;
    width: 210px;
}

.all-contant{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-body {
    background-size: cover;
    background-color: #FFFFFF;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0.5;
    background-color: white;
}

.content-body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

.welcome{
    position: absolute;

}

h1 {
    font-family: 'League Spartan', sans-serif;  
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h2{
    font-family: 'League Spartan', sans-serif;
}

p{
    font-family: 'League Spartan', sans-serif;
}

.image-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image-with-text img {
    width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.logo{
    width: 250px;
}

.welcome
{
    width: 50%;
}

.navbar-nav{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold; 
}

.menuItem{
    color: #26283E,
}

.menuItem:hover{
    text-decoration: none;
}

.footer-distributed{
    background-color: #F1F0F7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 20px 20px;
    overflow: hidden;
}

.loginLink{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    color: #26283E;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.loginLink:hover{
    text-decoration: none;
    color: #0279AF; 
}

.aboutUsImg{
    border-radius: 10px;
}

button[type="submit"] {
    background-color: #0796D8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    font-family: 'League Spartan', sans-serif;  
}

button[type="submit"]:hover{
    background-color: #26283E;
    transform: scale(1.12);
}