.box {
    background-color: #fff;
    height: 800px;
    border-radius: 20px;
    padding: 30px 20px 20px 30px;
}

.row {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
}
.linea {
    width: fit-content;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
}
.col{
    padding: 0;
    margin:0;
}
 .col-md-auto{
    padding: 0;
    margin:0;
} 

hr {
    border-top: 2px solid black;
    color: black;
  }

.label{
    font-size: small;
}

input #med{
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 100px;
}
#med{
    background: #F1F0F7;
    padding: 3px 0px 3px 10px;
    border-radius: 5px;
}
input[type="text"]:disabled {
    background: #F1F0F7;
    border: none;
    padding: 3px 0px 3px 10px;
    color: #909090;
  }

#description {
    border-radius: 15px;
    background: #F1F0F7;
    border: none;
    /* color: #909090; */
    resize: none;
    color: #26283E; 
    overflow: auto; 
    height: 500px; width: 100%; padding: 30px !important; 
}

.title{
    font-size: 20px; font-weight: bold;
}

.diagnosis{
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'League Spartan', sans-serif;
}

/* Style the scrollbar */
#description::-webkit-scrollbar {
    width: 10px; /* Width of the entire scrollbar */
}
  
#description::-webkit-scrollbar-track {
background: #f1f1f1; /* Color of the tracking area */
}
  
#description::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scroll thumb */
    border-radius: 20px; /* Roundness of the scroll thumb */
}
  
#description::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scroll thumb on hover */
}