input[type="text"]{
    background-color: white;
    height: 40px;
    border-radius: 10px;
    width: 80%;
}
.search-formm{
    width: 100%;
}

.search {
    color: #0796D8;
    /* color: #fff; */
    padding: 10px;
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
    /* box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19); */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    border-radius: 50%;
    transition: 0.3s ease;
}
.search:hover{
    color: white;
    border-radius: 50%;
    background-color: #0279AF;

}

label {
    font-size: small;
    font-weight: bold;
    color: #26283E;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #0796D8;
    font-size: 16px !important;
    color: white;
    padding: 10px;
}

td{
    padding: 5px 15px 5px 15px;
}

td, th{
    border: 1px solid #d9d9d9;
    font-family: 'League Spartan', sans-serif;
    width: fit-content;
    font-weight: lighter;
}

table tr:nth-child(even){background-color: #f2f2f2;}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .round-button i {
    color: #26283E;
  }

  .all-div{
    display: flex; align-items: center; justify-content: flex-end; border: none;
  }
  
  .all-div-inside{
    display: flex; flex-direction: column; align-items: center;
  }
  
  .all-eye{
    color: #0796d8; font-size: xx-large; padding: 5px;
  }

  .all-button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #0279AF;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .all-button:hover{
    background-color: #26283E;

  }
  
  .all-button i {
    color: white;
    padding-right: 5px;
  }

  .eye-search{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .re-search{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #pagination{
    margin-top: 40px;
    text-align: center;
    background-color: #dddddd;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-25%, -50%);
    padding: 0px 20px 0px 20px;
    font-weight: bold;
  }
  
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 0.25rem;

  }

a{
    padding-left: 10px;
    padding-right: 10px;
    color: #0279AF;
    font-family: 'League Spartan', sans-serif;
}


a:hover{
    color: #26283E
    }


.custom-modal{
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.6);
}

.modal-backdrop {
  background-color: transparent; /* Set the background color to transparent */
}

.modal-body{
  font-family: 'League Spartan', sans-serif;
}

.modal-title{
  font-weight: bold;
}

.close{
  border: none;
  border-radius: 5px;
  background: #919191;
  color: white;
  transition: all 0.5s ease;
}

.close:hover{
  border: none;
  border-radius: 5px;
  background: #585858;
  color: white;
}

.yes-button{
    font-family: 'League Spartan', sans-serif;
    background-color: #0796D8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius:5px;
    cursor: pointer;
    width: 220px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yes-button:hover{
    background-color: #0279AF;
    color: #fff;
}
