@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h4 {
  font-family: "League Spartan", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fcfcfc;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 260px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: bold;
  font-family: "League Spartan", sans-serif;
  color: #26283e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
  font-family: "League Spartan", sans-serif;
  color: #909090;
}

.btn {
  text-decoration: none;
  background-color: #0796d8;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover {
  text-decoration: none;
  background-color: #0279af;
  color: white;
  padding: 10px 20px;
  border: none;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.mid-container {
  display: flex;
  justify-content: center; /* Clears any floats within the container */
}

.left-div, .right-div {
  gap: 10px;
  display: flex;
  flex: 0 0 auto; /* Allows divs to shrink to fit content */
  margin: 0 10px; /* Adjust the margin between the divs as per your preference */
}

.left-div{
  flex-direction: column;
}

.right-div{
  align-items: center;
  justify-content: space-around;
}

.input{
  margin: 10px;
}

.add-file{
  font-size: xx-large;
  color:#0796d8;
  transition: all 0.5s ease;
  cursor: pointer;
}

.add-file:hover{
  color:#0279af;
  transform: scale(1.05);
}