{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registrar_consulta.css' %}" />
<script src="{% static 'js/reporte_script.js' %}"></script>
{% endblock %}

{% block content %}

<br>
<br>
<div class="box container ">
  <div class="row">
    <div class="col">
      <div class="row">
        <strong class="col-md-auto label">
          Fecha exámen
        </strong>
        <div class="col">
          <input id="date" type="text" name="date" value="{{consulta.formatted_fecha_consulta}}" disabled="false">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <strong class="col-md-auto label">
          Hora exámen
        </strong>
        <div class="col">
          <input id="date" type="text" name="date" value="{{consulta.formatted_hora_consulta}}" disabled="false">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <strong class="col-md-auto label">
          Médico encargado
        </strong>
        <div class="col">
          <input id="date" type="text" name="date" value="{{consulta.medUltrasonido}}" disabled="false">
        </div>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col">
      <h4 style="font-weight: bold;"> Datos paciente </h4>
      <hr>
    </div>
  </div>
  <br/>

  <form class="report-form">
  <div class="row">
    <div class="col">
      <strong class="col-md-auto label"> Primer nombre </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{paciente.nombreuno}}" disabled="false">
    </div>
    <div class="col">
      <strong class="col-md-auto label"> Segundo nombre </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{paciente.nombredos}}" disabled="false">
    </div>
    <div class="col">
      <strong class="col-md-auto label"> Primer apellido </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{paciente.apellido_paterno}}" disabled="false">
    </div>
    <div class="col">
      <strong class="col-md-auto label"> Segundo apellido </strong>
    </div>
    <div class="col">
    <input id="med" type="text" name="text" value="{{paciente.apellido_materno}}" disabled="false">
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <strong class="col-md-auto label"> Último periodo menstrual (LMP) </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{clinicalhist.lmp}}" disabled="false">
    </div>
    <div class="col">
      <strong class="col-md-auto label"> Cédula </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{paciente.cedulapac}}" disabled="false">
    </div>
    <div class="col">
      <strong class="col-md-auto label"> Gestaciones </strong>
    </div>
    <div class="col">
      <input id="med" type="text" name="text" value="{{paciente.numgestacion}}" disabled="false">
    </div>
  </div>
</form>
  
</div>


{% endblock %}