{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/ejemplo.css' %}"/> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/main_fonts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/> {% endcomment %}

    <script src="https://kit.fontawesome.com/5bdb3c603b.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
    {% include 'main/components/greeting.html' %}
    <div class="container-fluid row" style="padding-top: 30px">
        <h4 class="mb-4">Realizar un nuevo diagnóstico			
            <a class="btn text-white" style="background-color: #0796d8;" href="consultas/nueva" role="button">
            <i class="fas fa-plus"></i>
        </a>
        </h4>
    </div>
    <div class="container-fluid row" style="padding-top: 30px">
        <h4 class="mb-4">Buscar registro</h4>
    </div>
    <div class="input-group input-group-sm" style="padding-top: 0; position: relative; padding-right:100px; padding-left:20px ">
        <form method="POST" class="search-form" action="{% url 'registros' %}" >
            {% csrf_token %}
            <div class="input-wrapper">
                <input type="text" class="form-control" placeholder="Cédula de paciente" id="id_input" name="id_input" />
            </div>
            <button type="submit" class="search-button">
                <i class="fas fa-search fa-lg"></i>
            </button>
        </form>
    </div>

    </div>
    
    <div class="container-fluid col-sm" style="padding-top: 20px">
        {% comment %} {% if current_user.userrol == 'médico' %}  {% endcomment %}
        <div class="container-fluid row">
            <h2 class="mb-4">Ver Reportes</h2>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0" style="font-weight: bold; font-size: medium">
                Reporte mensual 
            </p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 card1">
                    <i class="fa-solid fa-person" style="color: #0796d8;  scale: 170%"></i><br/>
                    <div class="card-body">
                        <h5 class="card-title">
                            Total pacientes
                        </h5>
                        <button type="button" class="card-text-button" style="background-color: #52CBF5;">
                            59
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 card1">
                    <i class="fa-solid fa-person" style="color: #0796d8; scale: 170% "></i><br/>
                    <div class="card-body">
                        <h5 class="card-title">
                            Fetos sanos
                        </h5>
                        <button type="button" class="card-text-button" style="background-color: #63AC3D;">
                            59
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 card1">
                    <i class="fa-solid fa-person" style="color: #0796d8; scale: 170% "></i><br/>
                    <div class="card-body">
                        <h5 class="card-title">
                            Fetos con diagnóstico
                        </h5>
                        <button type="button" class="card-text-button" style="background-color: #F7941D;">
                            59
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid row" style="padding-top: 20px; position: relative">
            <p class="mb-4 pb-2 mb-md-5 pb-md-0" style="font-weight: bold; font-size: medium">
                Otras consultas
            </p>
            <button type="button" class="btn btn-success info">
                Ir a repositorio
            </button>
        </div>
    </div>
</div>


{% endblock %}
