{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ejemplo.css' %}"/>
    
    <script src="https://kit.fontawesome.com/5bdb3c603b.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
    {% include 'main/components/greeting.html' %}
    <div class="container-fluid row" style="padding-top: 30px">
        <h4 class="mb-4">Agregar nuevo caso <a class="btn text-white" style="background-color: #0796d8;" href="#!"
                                               role="button">
            <i class="fas fa-plus"></i>
        </a></h4>
    </div>
    <div class="container-fluid row" style="padding-top: 30px">
        <h4 class="mb-4">Buscar registro</h4>
    </div>
    <div class="input-group input-group-sm" style="padding-top: 0; position: relative; padding-right:100px; padding-left:20px ">
        <input type="text" class="form-control form-control-lg rounde bg-transparent text-black-50"
               placeholder="Type Keywords" aria-label="Type Keywords" aria-describedby="basic-addon2"/>
        <span class="input-group-text border-0" id="basic-addon2"><i
                class="fas fa-search fa-lg" style="color: blue"></i></span>
    </div>
    </div>
    <div class="container-fluid col-sm" style="padding-top: 20px">
        <div class="container-fluid row">
            <h3 class="mb-4">Ver Reportes</h3>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                Reportes Mensuales
            </p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 card1">
                    <i class="fa-solid fa-person" style="color: #0796d8;  scale: 170%"></i><br/>
                    <div class="card-body">
                        <h5 class="card-title">
                            Total pacientes
                        </h5>
                        <button type="button" class="card-text-button" style="background-color: #52CBF5;">
                            59
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 card1">
                    <i class="fa-solid fa-person" style="color: #0796d8; scale: 170% "></i><br/>
                    <div class="card-body">
                        <h5 class="card-title">
                            Fetos </br> sanos
                        </h5>
                        <button type="button" class="card-text-button" style="background-color: #63AC3D;">
                            59
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 card1">
                    <i class="fa-solid fa-person" style="color: #0796d8; scale: 170% "></i><br/>
                    <div class="card-body">
                        <h5 class="card-title">
                            Fetos con diagnóstico
                        </h5>
                        <button type="button" class="card-text-button" style="background-color: #F7941D;">
                            59
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid row" style="padding-top: 20px; position: relative">
            <button type="button" class="btn btn-success  info">
                Check full Information
            </button>
        </div>
    </div>
    </div>


{% endblock %}
