{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@700&display=swap"
  rel="stylesheet">
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container">
  <div class="row" style="padding-top: 30px;">
    <div class="col-sm formulario">
      <form class="registro-form" method="POST">
        <h2> Crear usuario </h2>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.errors }}

        <div class="fieldWrapper">
          {{ form.email.errors }}
          <label for="{{ form.subject.id_for_label }}">{{ form.email.label }}</label>
          {{ form.email }}
        </div>
        <div class="fieldWrapper">
          {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          {{ form.password }}
        </div>
        <div class="fieldWrapper">
          {{ form.repassword.errors }}
          <label for="{{ form.repassword.id_for_label }}">{{ form.repassword.label }}</label>
          {{ form.repassword }}
        </div>
        <input type="hidden" name="roles" value="{{ rol }}">
        <br />
        <button type="submit" class="btn btn-primary" style="width: 60%;">Iniciar sesión</button>
      </form>
    </div>
    <div class="col-sm">
      <img src="{% static 'images/logo-medical.png' %}" class="img-fluid" alt="Phone image">
    </div>
  </div>
</div>


{% endblock %}