{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/repositorio.css' %}" />
    <script src="{% static 'js/reporte_script.js' %}"></script>
{% endblock %}

{% block content %}
<br />
<br />
<h1 style="font-weight: bold; color: #0796D8">Repositorio</h1>
<p style="font-weight: bold;">Por favor, ingrese sus datos de interés para filtrar la búsqueda.</p>

<div class="box container " style="height: 100%; margin-bottom:20px">
  <form class="report-form">

    <div class="row">
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Cédula paciente </strong>
        <input id="med" type="text" name="text" class="form-repo">
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Apellido paciente </strong>
        <input id="med" type="text" name="text" class="form-repo">
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Edad gestacional </strong>
        <input id="med" type="text" name="text" class="form-repo">
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Estado del feto </strong>
        <input id="med" type="text" name="text" class="form-repo">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Medición </strong>
        <input id="med" type="text" name="text" value="{{clinicalhist.lmp}}" >
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Diagnóstico </strong>
        <input id="med" type="text" name="text" value="{{paciente.cedulapac}}" >
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> Fecha inicial </strong>
        <input type="date" id="start_date" name="start_date">
      </div>
      <div class="col-md-auto">
        <strong class="col-md-auto label"> - Fecha final </strong>
        <input type="date" id="end_date" name="end_date">
      </div>
      <div class="col-md-auto">
        <button class="btn submit-button" style="width: 60px"> <i class="fa fa-search"></i></button>
      </div>
    </div>
  </form>
  </div>
</div>


{% endblock %}

